:root {
    --ctg-display-width: 1100px;
    --ctg-display-height: 600px;
    --ctg-main-bg-color: brown;
}
.ctg-border {
    width: calc(var(--ctg-display-width) + 220px);
    height: calc(var(--ctg-display-height) + 20px);
    background-image: url("/public/images/fields.webp");
    display: flex;
}
.ctg-hud {
    width: 200px;
    height: var(--ctg-display-height);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
#ctg-timer {
    font-size: 60px;
    margin-bottom: 100px;
}
.ctg-display {
    position: relative;
    /* margin: 10px; */
    width: var(--ctg-display-width);
    height: var(--ctg-display-height);
    border: 10px solid rgba(0, 0, 0, 0.6);
}

.ctg-world {
    width: var(--ctg-display-width);
    height: var(--ctg-display-height);

    display: flex;
    flex-direction: column-reverse;

    z-index: 10;
}
.ctg-background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: var(--ctg-display-width);
    height: var(--ctg-display-height);

    display: flex;
    flex-direction: column-reverse;
}
#ctg-player {
    width: 100px;
    height: 100px;

    position: relative;
    bottom: 200px;
    left: 200px;
}
#ctg-pigin {
    width: 100px;
    height: 100px;

    position: relative;
    bottom: 0px;
    left: 1500px;
}
#ctg-env-test {
    width: 100px;
    height: 100px;
    background: green;
    position: relative;
    bottom: -90px;
    left: 410px;
}
.ctg-cube {
    width: 100px;
    height: 100px;

    border: 1px solid red;
    color: greenyellow;
    text-align: center;
    box-sizing: border-box;
}
.ctg-mapCube {
    width: 100px;
    height: 100px;
}
.ctg-wrap {
    flex-wrap: wrap;
}
.ctg-announcement {
    padding-top: 300px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
